html, body {
    margin: 0;
    padding: 0;
    background-color: #ffd0d0;
    background-image: -webkit-linear-gradient(60deg, #e9d4c7 50%, #fff7d2 50%);
    min-height: 500px;
    height: 125%;
}

.mainContainer {
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#myNav {
    font-size: 17px;
    right: 0px;
    text-transform: uppercase;
    background-color: transparent;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    transform: scaleY(1.05);
    transform: scaleX(0.95);
}

.lead {
    font-size: 18px;
}

#aboutParagraph {
    min-width: 20%;
}

#footer {
    position: fixed;
    padding-bottom: 2.0rem;
    left: 0;
    bottom: 0;
    height: 24px;
    width: 100%;
    font-size: 12px
}

#home_image {
    width: 80%;
}

.stopFloat {
    clear: both;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 10px;
}
